$main_color: 'lightblue';

#root {
  width: 100%;

  // NavBar
  & > nav {
    width: 30%;
    height: 100vh;
    font-size: 3rem;
    color: $main_color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;

    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    a {
      text-decoration: none;
    }
  }

  // Component(Routes)
  & > main {
    width: 70%;
    height: 500vh;
  }
}