.editmain form {
  // background-color:aqua;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  border-radius: 100px;
  border-style: groove;
  border-width: 10px;
  border-color: #000000;
  padding-right: 200px;
  padding-left: 120px;
}

.editmain .input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
}

.editmain label {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  position: relative;
}

// .editmain label::after {
//   content: "*";
//   color: red;
//   top: 0;
//   left: 100px;
// }

.editmain input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: left;
  margin-bottom: 15px;
}

.editmain .subbutton {
  background-color: #8c5e22;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  margin: 20px 0;
  cursor: pointer;
}

.editmain .subbutton:hover {
  background-color: #3367d6;
}

.editmain{
  // background-color: #8c5e22;
}
.editback{
  // background-color: #3367d6;
  display:block
}
