.friends-page-avatar {
  height:100px;
  width: 100px;
}

.friends-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.friend-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.friend-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.friend-details {
  flex: 1;
}

.friend-details h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.friend-details p {
  margin: 0;
  font-size: 1.2rem;
  color: #555;
}

.friend-details p:first-child {
  margin-top: 5px;
}

.friend-details p:last-child {
  margin-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
}