.post {
  border-bottom: 3px solid black;
  padding: 15px 15px 15px 25px;
  width: 100%;
}

.post-book-cover {
  height: 50px;
  width: 50px;
}

.post-blurb {
  padding: 10px;
  width: 75%;
}

.profile-picture {
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

.profile-picture-section {
  border-bottom: 1px solid gray;
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
}

.userId {
  margin-left: 15px;
}