$color--font: black;
$color--active: rgb(71, 197, 255);
$color--background: white;
.app__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  // cancel initial style for anchor tag
  a {
    all: unset;
    padding-left: 10px;
    &:hover {
      cursor: pointer;
      color: rgb(71, 197, 255);
      transform: scale(1.1, 1.1);
    }
  }
  & > header {
    a {
      display: flex;
      gap: 0.25rem;
      align-items: flex-end;
      color: rgb(50, 50, 50);
      justify-content: center;
      svg {
        font-size: 3rem;
      }
      h1 {
        font-size: 2rem;
        margin: 0;
      }
      &:hover {
        color: rgb(50, 50, 50);
        transform: scale(1, 1);
      }
    }
  }
  & > nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
    color: rgb(120, 120, 120);
    svg {
      font-size: 2rem;
    }
    &:hover {
      cursor: pointer;
    }
    a {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
  // active tab
  &--active {
    span {
      font-weight: bold;
      color: $color--active;
    }
    svg {
      transform: scale(1.2, 1.2);
      fill: $color--active;
    }
  }
  & > footer {
    section:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
      color: rgb(120, 120, 120);
      svg {
        font-size: 2rem;
      }
      a {
        border: 1px solid rgb(120, 120, 120);
        padding: 0.5rem;
        border-radius: 2rem;
        width: 85%;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background: $color--active;
          color: rgb(120, 120, 120);
          transform: scale(1, 1);
        }
      }
    }
    section:last-child {
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: rgb(120, 120, 120);
      svg {
        font-size: 1.5rem;
        &:hover {
          cursor: pointer ;
          color: $color--active;
        }
      }
    }
  }
}
// .active-tab {
//   background-color: gray;
// }
// .navbar-container {
//   border: 5px solid green;
//   left: 5%;
//   position: fixed;
//   right: 60%;
//   top: 20px;
// }